[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
# Scientific libraries
numpy = "*"
#tensorflow = "==2.0.0-rc0"
# Game library
pygame = "*"
# Learning platform communication library
thespian = "*"
# OpenAI gym environments
gym = "*"
# Jupyter notebook for fast invent -> test -> fix cycle
jupyter = "*"
# For easy maitaining jupyter notebooks in git repository:
jupytext = "*"
ipykernel = "*"
# Visualization tools
matplotlib = "*"
graphviz = "*"
parse = "*"

[requires]
python_version = "3.7"
